@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/*TOP*/
.start {
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}
.start img {
	display: block;
    margin: 0 auto;
}

.design {
    margin-top: 150px;
    text-align: center;
}
.design h3{
    margin-bottom:1px;
}


.coding {
    margin-top: 150px;
    margin-bottom:150px;
    text-align: center;
}

.coding h3{
    margin-bottom:1px;
}

.index-opacity p {
    margin-top:0;
    margin-bottom:35px;
	opacity: 0.5;
}

.design p .coding p {
    font-size : 17px;
}
/*TOP終わり*/


/*About*/
.about-title h1{
    margin-top:0;
	opacity: 0.5;
}

.about-prof{
    margin-top : 100px;
    line-height: 1em;
}

dt {
    float: left ;
    clear: left ;
    margin-right: 0.5em ;
    width: 120px ;
    margin-bottom:24px;
    font-weight : bold;
}

dd {
    float: left ;
    margin-left: 1em ;
}

dl {
    bottom: 50px;
}

.pr dd {
    line-height: 2em;
    letter-spacing: 0.2em;
    margin-bottom : 150px;
}

.certification dd {
    line-height: 2em;
}

.certification dt {
    margin-top : 3px;
}
.flog {
    position: relative;
    top : 30px;
    left :120px;
}

/*About終わり*/
/*Hobby*/

/*横幅94％で左右に余白を持たせて中央寄せ*/
.slider1 , .slider2{
    width:94%;
    margin:50px auto 50px auto;
}

.slider1 img , .slider2 img{
    /*スライダー内の画像を50vwにしてレスポンシブ化*/
    width:40vw;
    height:25vw;
}

.slider1 .slick-slide ,.slider2 .slick-slide {
    /*左右の画像のサイズを80%に*/
    transform: scale(0.8);

    /*拡大や透過のアニメーションを0.5秒で*/
    transition:all .5s;
    opacity: 0.5; /*透過50%*/
}

.slider1 .slick-slide.slick-center ,.slider2 .slick-slide.slick-center{
    /*中央の画像のサイズだけ等倍に*/
    transform: scale(1);
    opacity: 1; /*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,.slick-next{
    position: absolute;/*絶対配置にする*/
    top:42%;
    cursor: pointer;
    /*outline: none;*/
    border-top:2px solid rgb(0, 0, 0);/*矢印の色*/
    border-right:2px solid rgb(0, 0, 0);/*矢印の色*/
    height: 30px;
    width: 30px;
}

/*戻る矢印の位置*/
.slick-prev{
    left: -5%;
    transform: rotate(-135deg);
}

/*次へ矢印の位置*/
.slick-next{
    right: -5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
    margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
    margin:10px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 18px;/*ドットボタンのサイズ*/
    height: 18px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background-color: rgb(255, 255, 255);
}

.slick-dots .slick-active button {
    background: rgb(0, 0, 0);
}

.hobby1-com , .hobby2-com{
    background-color: #D4D4D4;
    width : 75%;
    margin: 75px auto;
    padding : 5px 0 5px 0;
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.1em;
}
.hobby2-com {
    margin-bottom : 150px;
}

.lunch {
    margin-top : 70px;
}

.live {
    margin-top : 150px;
}

.hobby-title h1 {
    margin-top:0;
	opacity: 0.5;
}


/*Hobby終わり*/

/*全体*/

body {
    max-width: 1200px;
    margin : 0 auto 0 auto;
    font-family: 'Noto Sans JP', sans-serif;/*フォント設定*/
    /* background-image: url("image/background2.JPG");背景画像 */
    background-attachment: fixed;/*背景固定*/
}

.main {
    margin-bottom: 6%;
    padding-left: 53%;
}
 
.select li {
  font-size: 20px;
  width: 150px;
  text-align: center;
  display: inline-block;

}
 
.select li a {
  text-decoration: none;
  color: rgb(2, 0, 0);
  font-weight: bold;
}


header h1  {
    width: 220px;
    height: 145px;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 80%;
}

img {
    max-width:100%;
    height:auto;
}


/*ローディング画面*/
#splash {
    /* fixed で全画面固定*/
    position:fixed;
    z-index:999;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #333;
    text-align: center;
    color:#fff;
}


    @media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */
        /*全体*/
        body {
            margin-left: 5%;
            margin-right: 5%;
        }
        
        .main {
            padding-bottom:10%;
            padding-left: 37%;
            margin-top:0;
        }

        .select li {
            font-size: 30px;
            padding:0;
            width: 160px;
            display: inline-block;
        }
        /*全体終わり*/

        /*Top*/
        .design  p{
            font-size: 22px;
            word-break: break-all;
        }
        .coding  p{
            font-size: 22px;
            word-break: break-all;
        }
        /*Top終わり*/
        /*About*/
        .about-title h1 {
            font-size : 40px;
        }
        .flog img{
            margin-right : 90px;
            margin-bottom : 30px;
        }

        .about-prof dt , .about-prof dd{
            font-size: 20px;
        }
        .pr dd {
            font-size: 20px;
            line-height: 2em;
            letter-spacing: 0.2em;
            margin-bottom : 100px;
        }
        /*About終わり*/
        /*Hobby*/
        .hobby-title h1 {
            font-size : 40px;
        }

        .lunch h2 , .live h2 {
            font-size : 40px;
        }
        .slider1 , .slider2{
            width:90%;
            margin:50px auto 50px auto;
        }
        
        .slider1 img , .slider2 img{
            /*スライダー内の画像を50vwにしてレスポンシブ化*/
            width:80vw;
            height:50vw;
            margin-right: 30px;
        }
        .slick-dots button {
            color: transparent;
            outline: none;
            width: 30px;/*ドットボタンのサイズ*/
            height: 30px;/*ドットボタンのサイズ*/
            display:block;
            border-radius:50%;
            background-color: rgb(255, 255, 255);
            
        }
        
        .hobby1-com , .hobby2-com{
            background-color: #D4D4D4;
            width : 100%;
            margin-top: 96px;

            padding : 15px 7px 15px 8px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 20px;
            word-break: break-all;
        }
        /*Hobby終わり*/
    }
    @media screen and (max-width: 768px) {
    /* 768pxまでの幅の場合に適応される */

        /*全体*/
        body {
            margin-left: 5%;
            margin-right: 5%;
        }

        .main {

            padding-bottom:10%;
            padding-left: 37%;
            margin-top:0;
        }

        .select li {
            font-size: 26px;
            width: 120px;
            display: inline-block;
        }
        /*全体終わり*/
        /*Top*/
        .design p , .coding p{
            font-size: 18px;
        }
        /*Top終わり*/
        /*About*/
        .flog img{
            margin-left : 80px;
            margin-bottom : 30px;
        }

        .pr dd {
            line-height: 2em;
            letter-spacing: 0.1em;
            margin-bottom : 100px;
            word-break: break-all;
        }
        /*About終わり*/
        /*Hobby*/
        .slider1 , .slider2{
            width:94%;
            margin:50px auto 50px auto;
        }
        
        .slider1 img , .slider2 img{
            /*スライダー内の画像を50vwにしてレスポンシブ化*/
            width:80vw;
            height:50vw;
            margin-right: 30px;
        }
        .slick-dots button {
            color: transparent;
            outline: none;
            width: 30px;/*ドットボタンのサイズ*/
            height: 30px;/*ドットボタンのサイズ*/
            display:block;
            border-radius:50%;
            background-color: rgb(255, 255, 255);
            
        }
        
        .hobby1-com , .hobby2-com{
            background-color: #D4D4D4;
            width : 100%;
            margin-top: 96px;

            padding : 15px 7px 15px 8px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 18px;
        }
        /*Hobby終わり*/

    }
    @media screen and (max-width: 540px) {
    /* 540pxまでの幅の場合に適応される */
        body {
            margin-left: 2%;
            margin-right: 2%;            
        }

        .main {
            padding-bottom:10%;
            padding-left: 50%;
            margin-top:0;
            margin-bottom : 0;
        }

        .select {
            margin-top:0;
        }
        .select li {
            font-size: 24px;
            width: 120px;
            display: inline-block;
        }
        /*全体終わり*/
        /*Top*/
        .design p , .coding p{
            font-size: 14px;
        }

        /*Top終わり*/
        /*About*/
        .about-title h1{
            margin: 0;
            font-size : 30px;
        }
        .flog {
            position: relative;
            left : 10%;
        }
        .flog img{
            margin-bottom : 40px;
            margin-right : 10px;
        }

        .about-prof{
            margin-top : 50px;
            line-height: em;
        }

        .about-prof dt , .about-prof dd{
            font-size: 14px;
        }

        .pr dd {
            line-height: 1.7em;
            letter-spacing: 0.1em;
            margin-bottom : 50px;
            word-break: break-all;
        }

        dt {
            float: left ;
            clear: left ;
            margin-right: 0.5em ;
            width: 50px ;
            margin-bottom:30px;
            font-weight : bold;
        }


        /*About終わり*/
        /*Hobby*/
        .hobby-title h1{
            font-size : 30px;
        }

        .lunch h2 , .live h2 {
            font-size: 24px;
        }

        .slider1 , .slider2{
            width:90%;
            margin:50px auto 50px auto;
        }
        
        .slider1 img , .slider2 img{
            /*スライダー内の画像を50vwにしてレスポンシブ化*/
            width:80vw;
            height:50vw;
            margin-right: 30px;
        }
        .slick-dots button {
            color: transparent;
            outline: none;
            width: 20px;/*ドットボタンのサイズ*/
            height: 20px;/*ドットボタンのサイズ*/
            display:block;
            border-radius:50%;
            background-color: rgb(255, 255, 255);
            
        }
        
        .hobby1-com {
            background-color: #D4D4D4;
            width : 96%;
            margin-top: 96px;
            padding : 15px 3px 15px 3px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 14px;
        }

        .hobby2-com {
            width : 94%;
            margin-top: 40px;
            padding : 15px 3px 15px 3px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 14px;
        }
        /*Hobby終わり*/
    }
    @media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */
        body {
            margin-left: 2%;
            margin-right: 2%;  
        }

        .main {
            padding-bottom:10%;
            padding-left: 50%;
            margin-top:0;
            margin-bottom : 0;
        }

        .select {
            margin-top:0;
        }
        .select li {
            font-size: 24px;
            width: 120px;
            display: inline-block;
        }
        /*全体終わり*/
        /*Top*/

        .design {
            margin-top: 60px;
            text-align: center;
        }
        .design p , .coding p{
            font-size: 12px;
        }

        /*Top終わり*/
        /*About*/
        .about-title h1{
            margin: 0;
            font-size : 30px;
        } 
        .flog {
            position: relative;
        }
        .flog img{
            margin: 0 0 80px 0;
        }

        .about-prof{
            margin-top : 50px;
        }

        .about-prof dt , .about-prof dd{
            font-size: 12px;
        }

        .pr dd {
            line-height: 1.7em;
            letter-spacing: 0.2em;
            margin-left : 0;
            margin-bottom : 50px;
            word-break: break-all;
        }

        .pr dt {
            margin-bottom : 30px;
        }

        .school dd {
            margin-left : 20px;
            margin-bottom:40px;
        }


        dt {
            float: left ;
            clear: left ;
            width: 50px ;
            margin-right: 10px;
            margin-bottom:40px;
            font-weight : bold;
            white-space: nowrap;
        }

        .school dt {
            margin-bottom:20px;
        }


        /*About終わり*/
        /*Hobby*/
        .hobby-title h1{
            font-size : 30px;
        }

        .lunch h2 , .live h2 {
            font-size: 24px;
        }

        .slider1 , .slider2{
            width:100%;
            margin:50px auto 50px auto;
        }
        
        .slider1 img , .slider2 img{
            /*スライダー内の画像を50vwにしてレスポンシブ化*/
            width:80vw;
            height:50vw;
            margin-right: 30px;
        }
        .slick-dots button {
            color: transparent;
            outline: none;
            width: 20px;/*ドットボタンのサイズ*/
            height: 20px;/*ドットボタンのサイズ*/
            display:block;
            border-radius:50%;
            background-color: rgb(255, 255, 255);
            
        }

        .slick-dots  {
            padding : 0 20px 0 0; 
        }

        /*戻る、次へ矢印の位置*/
        .slick-prev,.slick-next{
            border-top:2px solid rgb(255, 255, 255);/*矢印の色*/
            border-right:2px solid rgb(255, 255, 255);/*矢印の色*/
        }
        
        .hobby1-com {
            background-color: #D4D4D4;
            width : 80%;
            margin-top: 40px;
            padding : 10px 8px 10px 8px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 14px;
        }

        .hobby2-com {
            width : 80%;
            margin-top: 25px;
            padding : 10px 3px 10px 3px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 14px;
            
        }
        /*Hobby終わり*/
    }
    @media screen and (max-width: 320px) {
    /* 320pxまでの幅の場合に適応される */



        body {
            margin-left: 4%;
            margin-right: 4%;  
        }

        .main {
            padding-bottom:10%;
            padding-left: 50%;
            margin-top:0;
            margin-bottom : 0;
        }

        .select {
            margin-top:0;
        }
        .select li {
            font-size: 22px;
            width: 110px;
            display: inline-block;
        }

        #footer {
            position: fixed;
            bottom: 0;
            left: 70%;
        }
        /*全体終わり*/
        /*Top*/

        .start img {
            width: 100vw;
        }
        .design {
            margin-top: 60px;
            text-align: center;
        }

        .coding {
            margin-top: 100px;
            margin-bottom: 120px;
            text-align: center;
        }
        
        .design p , .coding p{
            font-size: 12px;
        }

        /*Top終わり*/
        /*About*/
        .about-title h1{
            margin: 0;
            font-size : 30px;
        } 
        .flog {
            position: relative;
        }
        .flog img{
            margin: 0 0 80px 0;
            width: 75%; 
            height: auto; 
        }

        .about-prof{
            margin-top : 50px;
        }

        .about-prof dt , .about-prof dd{
            font-size: 12px;
        }

        .pr dd {
            line-height: 1.7em;
            letter-spacing: 0.2em;
            margin-left : 0;
            margin-bottom : 50px;
            word-break: break-all;
        }

        .pr dt {
            margin-bottom : 30px;
        }

        .school dd {
            margin-left : 20px;
            margin-bottom:40px;
        }

        .skill dd {
            margin-bottom: 30px;
        }

        .skill dd {
            margin-bottom: 30px;
        }

        .certification dd{
            margin-bottom: 40px;
        }


        dt {
            float: left ;
            clear: left ;
            width: 50px ;
            margin-right: 10px;
            margin-bottom:40px;
            font-weight : bold;
            white-space: nowrap;
        }

        .school dt {
            margin-bottom:20px;
        }


        /*About終わり*/
        /*Hobby*/
        .hobby-title h1{
            font-size : 30px;
        }

        .lunch h2 , .live h2 {
            font-size: 24px;
        }

        .slider1 , .slider2{
            width:100%;
            margin:50px auto 50px auto;
        }
        
        .slider1 img , .slider2 img{
            /*スライダー内の画像を50vwにしてレスポンシブ化*/
            width:90vw;
            height:50vw;
            margin-right : 80px;
        }
        .slick-dots button {
            color: transparent;
            outline: none;
            width: 15px;/*ドットボタンのサイズ*/
            height: 15px;/*ドットボタンのサイズ*/
            display:block;
            border-radius:50%;
            background-color: rgb(255, 255, 255);
            
        }


        /*戻る、次へ矢印の位置*/
        .slick-prev,.slick-next{
            border-top:2px solid rgb(255, 255, 255);/*矢印の色*/
            border-right:2px solid rgb(255, 255, 255);/*矢印の色*/
        }
        
        .hobby1-com {
            background-color: #D4D4D4;
            width : 90%;
            margin-top: 40px;
            padding : 10px 8px 10px 8px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 13px;
        }

        .hobby2-com {
            width : 90%;
            margin-top: 25px;
            padding : 10px 3px 10px 3px;
            text-align: center;
            line-height: 2em;
            letter-spacing: 0.1em;
            font-size: 13px;
            
        }
        /*Hobby終わり*/
    }